body{
	padding-left: 50px;
	padding-top: 25px;
	background-color:darkslategray;
}

h1{
	font-family: mate sc;
	font-size: 70px;
	color:honeydew;
}

h2{
	font-family: pompiere;
	font-size: 40px;
	color:honeydew;
}

h3,
ul{
	font-family: pompiere;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
	color:black;
}

h4{
	font-family: pompiere;
	font-size: 30px;
	font-weight: bold;
	
}

.container {
	float: left;
	margin-bottom: 50px;
}









