body{
	padding-top: 25px;
	background-color:darkslategray;
	margin-bottom: 50px;
	font-family: 'Pompiere', cursive;
	font-size: 25px;
	font-weight: bold;
	color:black;
}

h1{
	font-family: 'Mate SC', serif;
	font-size: 2.8em;
	color:honeydew;
}

h2,
a{
	font-size: 1.8em;
	color:darkslategray;
	font-style: italic;
}

h3{
	color:honeydew;
}

h4{
	font-size: 1.1em;
	font-weight: bold;
	
}


.nav a{
	color:white;
	text-transform: uppercase;
	font-style: normal;
}

main{
	background-color: white;
	padding:40px;
}








